.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: skyblue;
    width: 50%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    margin-left: auto ;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
}